@model rentend.Models.ViewModels.IndexViewModel;
<form method="get" asp-action="Cars">
            <div class="form_content">
                <div class="form_tile">
                    <label for="">What is your location?</label>
                    <div class="loc">
                        <select asp-for="@Model.DepartmentId" asp-items='@Model.Departments.ToSelectListItem(1, "City")'></select>
                    </div>
                </div>
                <div class="form_tile">
                    <label for="">When do you want to rent a car?</label>
                    <div class="rent_date">
                        <div class="date">
                            <input type="date" asp-for="@Model.RentSince" value='@Model.RentSince.ToString("yyyy-MM-dd")' min='@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd")' max='@DateTime.Now.AddMonths(1).ToString("yyyy-MM-dd")'>
                            <div class="date_overlay">
                                
                            </div>
                        </div>
                        <div class="dots">
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                        </div>
                        <div class="date">
                            <input type="date" asp-for="@Model.RentTo" value='@Model.RentTo.ToString("yyyy-MM-dd")' min='@DateTime.Now.AddDays(2).ToString("yyyy-MM-dd")'  max='@DateTime.Now.AddMonths(2).ToString("yyyy-MM-dd")'>
                            <div class="date_overlay">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form_btns">
                <input type="submit" class="allcars" value="Show offers">
                <a href="Offer" class="allcars">Show all cars</a>
            </div>
        </form>